/* .input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
  }

  .input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
  }

  .input-container input[type="text"]:focus {
    border: 2px solid #333;
  }

  .input-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  } */

.update {
  flex: 6;
}

.updateWrapper {
  padding: 20px;
}

.cardshadow {
  border-radius: 50px;
  background: #1fe5ce;
  box-shadow: 20px 20px 60px #1ac3af, -20px -20px 60px #24ffed;
}

.delete {
  border: none;
  padding: 5px;
  font-size: 12px;
  background-color: rgb(243, 129, 152);
  color: white;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.updateTitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}

.updateContainer {
  display: flex;
  margin-top: 20px;
  border: 1px solid lightgray;
  padding-top: 10px;
  margin-left: 0.5rem;
}

form {
  flex: 1;
  margin-left: 5rem;
  margin-top: 2rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formInput {
  width: 70%;
  padding: 5px;
  margin-top: 5px;
}

.profilePic {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.change {
  margin-left: 10px;
  font-weight: 500;
  font-size: 13px;
  color: teal;
}

.updateButton {
  margin-top: 10px;
  border: none;
  padding: 5px 10px;
  background-color: rgb(97, 161, 161);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.updateButton:disabled {
  cursor: not-allowed;
  background-color: rgb(136, 168, 168);
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 20px;
}

.success {
  color: green;
  font-size: 14px;
  margin-left: 20px;
}
